NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME= #Found in Cloudinary Console
CLOUDINARY_URL= #Found in cloudinary console
NEXT_PUBLIC_APP_URL= #Base URL of your app
BETTER_AUTH_SECRET= #Generated on betterauth installation
BETTER_AUTH_URL= #Base URL of your app

# Direct connection to the database. Used for migrations.
DATABASE_URL= #Found in Supabase Console

